body {
	background-color: #f1f3f4;
}

.movie-poster {
	float: left;
	margin: .5vw;
	height: 27vw;
	width: 18vw;
	border-radius: 3%;
	box-shadow: 1px 1px 5px #999999;
}

#main-view {
	text-align: center;
	padding: 0% 2%;
}

#paginator {
	overflow: auto;
	text-align: center;
	width: 100%;
}

#navbar {
	background-color: #474e5a;
	color: white;
	height: 5vw;
	overflow: auto;
}
.title {
	position: relative;
	top: 25%;
	font-size: 2vw;
	height: 3%;
	padding-left: 2.5vw;
}

#latest-releases {
	text-align: left;
	font-size: 1.5vw;
	color: #888888;
	margin: .5vw;
}

.tooltip {
	font-size: 1.3em;
}

.movie-button {
  background:none;
  border:none;
  font-size:1em;
  padding: 0px;
}

.movie-button:focus {
	outline: none;
}


.modal-container {
	overflow: auto;
	width: 100%;
	border-radius: .5%;
}

.modal-color-background {
	overflow: auto;
	background-color: rgba(0,0,0,.7);
}

.modal-poster {
	height: 38vw;
	width: 25vw;
	border-radius: 2%;
	float: left;
	margin: 5%;
}
.modal-title {
	margin-top: 20%;
	float: left;
	width: 50%;
	color: white;
	font-size: 1.5em;
}

.modal-paragraph {
	float: left;
	color: white;
	width:40%;
}

.modal-button {
  background:none;
  border:none;
  font-size:1em;
  padding: 0px;
  margin: 3vw 7vw 0vw 3vw;
  color: #999999;
}

.modal-button:focus {
	outline: none;
	color: white;
}

.modal-button:hover {
	outline: none;
	color: white;
}

.modal-buttons-container {
	width: 100%;
}


@media only screen and (max-width:900px) {
	.movie-poster {
		height: 66vw;
		width: 45vw;
	}
	#navbar {
		height: 3em;
	}
	.title {
		top:20%;
		font-size: 1.5em;
	}
	#latest-releases {
		font-size: 1em;
	}

	.modal-poster {
		height: 115vw;
		width: 80vw;
	}

	.modal-paragraph {
		width: 80%;
	}

	.modal-title {
		width: 80%;
	}
}


