body {
	background-color: #f1f3f4;
}

.movie-poster {
	float: left;
	margin: .5vw;
	height: 18vw;
	width: 12vw;
	border-radius: 3%;
	box-shadow: 1px 1px 5px #999999;
}

#main-view {
	text-align: center;
	padding: 0% 2%;
}

#paginator {
	overflow: auto;
	text-align: center;
	width: 100%;
}

#navbar {
	background-color: #474e5a;
	color: white;
	height: 5vw;
	overflow: auto;
}
#title {
	position: relative;
	top: 25%;
	font-size: 2vw;
	height: 3%;
	padding-left: 2.5vw;
}

#latest-releases {
	text-align: left;
	font-size: 2vw;
	color: #888888;
	margin: .5vw;
}

.tooltip {
	font-size: 1.3em;
}

@media only screen and (max-width:900px) {
	.movie-poster {
		height: 66vw;
		width: 45vw;
	}
	#navbar {
		height: 3em;
	}
	#title {
		top:20%;
		font-size: 1.5em;
	}
	#latest-releases {
		font-size: 1.5em;
	}
}