<!DOCTYPE html>
<html>
<head>
	<title>moviessss</title>
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css"/>
	<link rel="stylesheet" href="css/style.css"/>
	<script src="node_modules/jquery/dist/jquery.min.js"></script>
	<script src="node_modules/angular/angular.js"></script>
	<script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
	<script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
	<script rel="stylesheet" href="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css"></script>
	<script src="js/app.js"></script>
</head>
<body>
	<div ng-app="newMovies">
		<div id="navbar"><span id="title">Movies</span></div>
		<div id="main-view" ng-controller="moviesListCtrl">
			<div id="latest-releases">Latest Releases</div>
			<div ng-repeat="movie in movies.results">
				<img 
					tooltip-class="tooltip"
					uib-tooltip="{{movie.title}}"  
					tooltip-placement="center" 
					class="movie-poster" 
					ng-src="{{ movie.poster_path }}"/>
			</div>
			<div id="paginator">
				<uib-pagination
					total-items="movies.total_results" 
					ng-model="currentPage" 
					ng-change="pageChanged()" 
					items-per-page="20" 
					boundary-links="true" 
					rotate="true" 
					force-ellipses="true" 
					max-size="3">
				</uib-pagination>
			</div>
		</div>
	</div>
</body>
</html>