body {
	background-color: #f1f3f4;
	font-family: "Open Sans", sans-serif;
}

#navbar {
	background-color: #474e5a;
	color: white;
	overflow: auto;
}

.title {
	position: relative;
	font-size: 4vw;
	height: 3%;
	padding-left: 2.5vw;
	font-weight: bold;
}

#main-view {
	text-align: center;
	padding: 0% 2%;
}

.movie-poster {
	float: left;
	margin: .5vw;
	height: 27vw;
	width: 18vw;
	border-radius: 3%;
	box-shadow: 1px 1px 5px #999999;
}

#latest-releases {
	text-align: left;
	font-size: 1.5vw;
	color: #888888;
	margin: .8vw;
}

.movie-button {
  background:none;
  border:none;
  font-size:1em;
  padding: 0px;
}

.movie-button:focus {
	outline: none;
}

#paginator {
	overflow: auto;
	text-align: center;
	width: 100%;
}

.tooltip {
	font-size: 1.3em;
}

.modal-container {
	overflow: auto;
	width: 100%;
	border-radius: .5%;
}

.modal-color-background {
	overflow: auto;
	background-color: rgba(0,0,0,.7);
}

.modal-poster {
	height: 34vw;
	width: 22vw;
	border-radius: 2%;
	float: left;
	margin: 5%;
}
.modal-title {
	margin-top: 10%;
	float: left;
	width: 50%;
	color: white;
	font-size: 1.5em;
}

.modal-info {
	font-size: 1em; 
	float: left;
	color: white;
	margin: 1% 0%;
}

.modal-paragraph {
	float: left;
	color: white;
	width:40%;
}

.modal-button {
  background:none;
  border:none;
  font-size:1em;
  padding: 0px;
  margin: 3vw 1.5vw 0vw 1.5vw ;
  color: #999999;
}

.modal-button-right {
	float: right;
}

.modal-button-left {
	float: left;
}

.modal-button:focus {
	outline: none;
	color: white;
}

.modal-button:hover {
	outline: none;
	color: white;
}

.modal-buttons-container {
	overflow: auto;
	width: 100%;
}

.modal-line {
	float: left;
	opacity: .2;
	margin: 1vw 0vw;
}

.modal-separator {
	opacity: .3;
	margin: 0vw 1vw 0vw 1vw;
}

@media only screen and (max-width:900px) {

	#navbar {
		height: 3em;
	}

	.movie-poster {
		height: 66vw;
		width: 45vw;
	}

	.title {
		top:20%;
		font-size: 1.5em;
	}
	
	#latest-releases {
		font-size: 1em;
	}

	.modal-poster {
		height: 60vw;
		width: 40vw;
	}

	.modal-paragraph {
		width: 80%;
		margin-left: 3vw;
		margin-bottom: 5vw;
	}

	.modal-title {
		width: 80%;
		margin-top: 2%;
		margin-left: 3vw;
	}

	.modal-line {
		display: none;
	}

	.modal-info {
		margin: 1vw 0vw 1vw 3vw;
	}
}


